BOT_TOKEN=8850799288:AAGfYIfEsUqE_G5dvCmwNee7V6WYRqbCUNo
ADMIN_CHAT_ID=-5362665276
DATABASE_URL=mysql+asyncmy://devspace:strong_password@127.0.0.1:3306/devspace_bot
TIMEZONE=Europe/Bucharest
SPAM_COOLDOWN_SECONDS=3
